<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>어드민</title>

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <h1>어드민 페이지입니다.</h1>
    <hr>
    <a th:href="@{'/'}">메인으로 이동</a>

    <div class="row">
        <div class="col-md-5">
            <!-- 목록 출력 영역 -->
            <table class="table table-horizontal table-bordered" id="table-list">
                <thead class="thead-strong">
                <tr>
                    <th width="15%">분류</th>
                    <th width="40%">품목</th>
                    <th width="15%">규격</th>
                    <th width="15%">단가</th>
                    <th width="15%"></th>
                </tr>
                </thead>

                <tbody id="tbodyMaterials">
                <tr th:each="obj: ${materials}">
                    <td th:id="'td-classification' + ${obj.id}" th:text="${obj.classification}"></td>
                    <td th:id="'td-item' + ${obj.id}" th:text="${obj.item}"></td>
                    <td th:id="'td-standard' + ${obj.id}" th:text="${obj.standard}"></td>
                    <td th:id="'td-price' + ${obj.id}" th:text="${obj.price} +'원'"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>